#codePoetry {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 0 #bbb;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    transition: right 0.2s ease, bottom 0.2s ease;
    font-size: 8pt;
    opacity: 0;
}

#codePoetry.animate {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}


hr {
    border-top: 1px dotted #ddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 5px 5px;
}

.ivu-tabs-bar {
    margin-bottom: 3px !important;
}

.ivu-form .ivu-form-item-label,
.ivu-radio-wrapper,
.ivu-form-item-content,
.ivu-radio-group-button.ivu-radio-group-small .ivu-radio-wrapper,
.ivu-checkbox-wrapper,
.ivu-radio-group {
    font-size: 12px;
}

#contentWrapper {
    display: flex;
}

#projectFilesContainer pre[class*="language-"] {
    max-height: 100%;
}

pre[class*="language-"] {
    margin: 0!important;
    font-size: 11px;
    max-height: 200px;
}

pre > code {
    font-size: 11px;
}

code[class*="language-"], pre[class*="language-"] {
}

.ivu-card-head {
    padding: 7px 10px;
}

.ivu-card-head p, .ivu-card-head-inner {
    font-size: 14px
}

.ivu-table-small td {
    height: auto;
}

.ivu-table-small .ivu-table-cell {
    padding: 2px 3px;
}

.ivu-form .ivu-form-item-label {
    padding: 6px 12px;
}

.ivu-form-item-content {
    line-height: 24px;
}

#settingsDialog .ivu-modal-footer {
    display: none;
}

#settingsDialog .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#settingsDialog .ivu-modal {
    top: 0;
}

.sidebarTrigger {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}

#informationPanel {
    z-index: 999;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    cursor: default;
    text-align: left;
    color: #999;
    float: left;
    height: 100%;
    margin-left: 20px;
}

#informationPanel > span {
    position: relative;
    padding: 3px 10px;
    font-size: 8pt;
    background: rgba(233, 233, 233, .2);
    border-radius: 5px;
    color: #ccc;
    overflow: hidden;
}

#informationPanel > span.highlight {
    animation: informationPanelEffects 1.5s ease-in;
}

@keyframes informationPanelEffects {
    from {
        color: #ccc;
    }
    10% {
        color: #fff;
    }
    90% {
        color: #fff;
    }
    to {
        color: #ccc;
    }
}

#informationPanel > span > span.progressBar {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(5px);
    background: transparent;
    display: none;
    width: 0;
}

#informationPanel > span.highlight > span.progressBar {
    display: block;
    animation: informationPanelBlurEffects 1.5s linear;
}

@keyframes informationPanelBlurEffects {
    from {
        background: rgba(0, 120, 233, .3);
        width: 0;
    }
    35% {
        background: rgba(0, 120, 233, .5);
        width: 50%;
    }
    70% {
        background: rgba(0, 120, 233, .3);
        width: 100%;
    }
    to {
        background: rgba(0, 120, 233, 0);
        width: 100%;
    }
}

#menuRightSide {
    height: 100%;
    float: right;
}

#sidebar {
    background: linear-gradient(45deg, #2B2B2B 25%, #3C3F41 0, #3C3F41 50%, #2B2B2B 0, #2B2B2B 75%, #3C3F41 0);
    background-size: 4.2px 4.2px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar .ivu-menu-dark {
    background: transparent;
}

#sidebar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    background: rgba(18, 18, 26, 0.3);
}

.sideCard {
    margin: 0 10px 0;
}

.filterPanel {
    padding: 6px 10px 4px;
}

.ivu-split-pane {
    overflow-x: auto;
}

#queryContent {
    width: calc(100vw - 250px);
    padding: 10px;
}

#fileListViewer {
    padding: 0 0;
}
